.app__header {
    color: white;
    background-color: black;
    font-size: 30px;
    text-align: center;
}

.app__header__search-icon {
    float: right;
    margin: 1px 15px;
    border: 1px white solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
